@import "tailwindcss";

* {
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
  transition: all .3s;
}

#nprogress .bar {
  height: 4px !important;
  background: linear-gradient(
    to right,
    rgb(6, 51, 134),
    rgb(7, 75, 200),
    #006aff
  ) !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
}

.hide-scrollbar {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE e Edge antigo */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;                /* Chrome, Safari, Opera */
}


